.Raya{
    width: 100%;
    height: 30px;
    background: rgb(16, 209, 112);
}
.Grid{
    display: grid;
    background-color: seagreen;
    grid-template-columns: auto;
    
}
.Grid div{
    border: 0.5px solid rgb(247, 243, 243);
    color: blanchedalmond;
}
.Grid2{
    display: grid;
    background-color: brown;
    grid-template-columns: auto;
}
.Grid2 div{
    border:0.5px solid floralwhite;
    color: floralwhite;
}
.Grid3{
    display: grid;
    background-color: rgb(21, 171, 197);
    grid-template-columns: auto;
    
}
.Grid3 div{
    border:0.5px solid white;
    color: white;

}
body{
    border: solid black;
    width: 80%;
    height: 50%;
    margin: 90px;
    padding: 70px;

}
.Raya2{
    width: 100%;
    height: 30px;
    background: rgb(41, 118, 141);
}
body{
    background-image: url(fondo4.JPG);

}
h1{
    text-align: center;
    color: rgb(3, 33, 43);
}